body {
margin : 0;
padding : 0;
/*font : 75% helvetica, "Trebuchet MS", arial, sans-serif;*/
font-family: 'Roboto', sans-serif;
background : #fffff0;
font-size: 150%;
/*line-height : 1.7em;*/
color : #555;
}
			/*TOP BANNER*/
#header {
height : 188px;
margin-top : 0;
padding : 0;
background : #e88d33 /*url(img/banner.jpg) no-repeat*/;
color : #555;
}
			/*TOP NAVIGATION*/
#topnav ul {
padding : 0.5em 0;
margin : 0 0 5px 0;
list-style-type : none;
background : #885835;
color : #fff;
text-align : center;
font-weight : bold;
}
#topnav li {
display : inline;
}
#topnav li a, #topnav a:visited {
text-decoration : none;
background : #885835;
color : #fff;
padding : 0.6em 1.3em;
border-right : 1px solid #fff;
}
#topnav a:link.active, #topnav a:visited.active, #topnav a:hover {
text-decoration : none;
background : #f17327;
color : #000;
}
			/*3 COLUMNS*/
#gutter {
float : left;
width : 3%;
height : 1px;
}
#col1 {
float : left;
width : 15%;
margin-bottom : 1em;
padding-right : 1%;
}
#col2 {
float : left;
width : 94%;
margin-right: auto;
margin-left : auto; /*2%;*/
margin-bottom : 1em;
padding-right : 3%;
padding-left : 3%;
}
#col3 {
float : left;
width : 18%;
margin-left : 3%;
margin-bottom : 1em;
}
			/*RIGHT NAVIGATION*/
#navcontainer ul {
margin : 0;
padding : 0;
list-style-type : none;
background : #fffff0;
color : #666;
}
#navcontainer ul li a {
padding : 20px;
color : #885835;
background : transparent url(img/list-off-orange.gif) no-repeat left center;
text-align : left;
font : 12px "Lucida Grande", "Lucida Sans Unicode", lucida, sans-serif;
text-decoration : none;
}
#navcontainer ul li a:hover {
color : #f17327;
background : transparent url(img/list-on-orange.gif) no-repeat left center;
}
#navcontainer ul li a#current {
background : transparent url(img/list-active.gif) no-repeat left center;
color : #000;
}
			/*FOOTER*/



html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#main {
  flex: 1;
  padding-bottom: 45px;
  /*height:100%;*/
  width:90%;
  margin-left: auto;
  margin-right: auto;
  border-left : 1px dashed #dda875;
  border-right : 1px dashed #dda875;
  /* must be same height as the footer */
}


/* Opera Fix thanks to Maleika (Kohoutec) */

body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
  /* thank you Erik J - negate effect of float*/
}

#footer {
position: relative;
margin-top: -45px;
  /* negative value of footer height */
clear : both;
height : 40px;
background : #f17327;
border-top : 5px solid #885835;
color : #000;
/*padding : 0.2em 0 0 0.5em;*/
text-align : left;
}
#footerb {
position: relative;
margin-top: -45px;
  /* negative value of footer height */
clear : both;
height : 40px;
background : url("img/o.png");
background-size: cover;
border-top : 5px solid #885835;
color : #000;
/*padding : 0.2em 0 0 0.5em;*/
text-align : left;
}
#footer a {
color : #fff;
background : inherit;
}
#footer a:hover {
color : #000;
background : inherit;
}
			/*TYPOGRAPHY*/
h1 {
margin : 0;
padding-top : 75px;
text-align : center;
font-size : 2em;
color : #efecdc;
background : inherit;
}
h2 {
margin-top : 0;
padding-top : 0.5em;
padding-bottom : 0.5em;
text-transform : uppercase;
letter-spacing : 3px;
font-size : 1.5em;
color : #885835;
background : inherit;
}
h3 {
margin-top : 0;
font-size : 0.75em;
text-align : center;
color : #666;
background : inherit;
}
blockquote {
font-weight : bold;
font-style : italic;
color : #b29b35;
}
			/*LINKS*/
a {
text-decoration : none;
color : #006699;
background : inherit;
}
a:hover {
text-decoration : underline;
color : #444;
background : inherit;
}
a img {
border : 0;
}
			/*IMAGES*/
.myimage {
float : left;
padding : 10px;
border : 1px solid #aaa;
margin-right : 10px;
}
.myimage2 {
float : right;
padding : 10px;
border : 1px solid #aaa;
margin-left : 10px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quizim {
  max-width: 90%;
}

.logo {
  max-width: 70%;
}

.logodiv {
  margin-top: 20px;
}

.gallerylabel {
  margin-bottom:5px;
}

.quizcol {
  float: left;
  width: 50%;
  padding-bottom:40px;
}

.quizrow:after {
  content: "";
  display: table;
  clear: both;
}

.arccol {
  float: left;
  width: 50%;
  padding-bottom:40px;
}

.arcrow:after {
  content: "";
  display: table;
  clear: both;
}

.arcla {
  margin-bottom:100px;
}

.waitbox {
  margin-top: 30px;
  margin-bottom: 30px;
  width:60%;
  border: 5px solid;
}

.almosth2 {
margin-top : 0;
padding-top : 0.5em;
padding-bottom : 0.5em;
text-transform : uppercase;
letter-spacing : 3px;
font-size : 1.2em;
color : #885835;
background : inherit;
text-align: center;
}

#waitanswer {
  font-size:2.1;
  margin-top: 20px;
  margin-bottom:20px;
  text-align: center;
}

/*.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}*/